form {
    border-style: double;
    box-sizing:content-box;
    padding: 5em;
    margin: 5em;
    margin-right: 6em;
    margin-left: 30em;
}

button {
    background-color: #04AA6D;
    box-shadow: 0 3px 5px #96f08b;
    color: white;
    padding: 12px 20px;
    border-radius: 4px;
    float: right;
  }

button:disabled {
  color:#fff;
  border-color: #a0a0a0;
  background-color: #a0a0a0;
  box-shadow: 0 3px 5px #4a5848;
}  

  label {
    padding: 12px 12px 12px 0;
    display:inline-block;
  }

  
input, select, textarea {
    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    float: right;
  }