
.header {
    box-sizing: border-box;
    width: 100%;
    display:inline-block;
    padding: 1em;
    margin-bottom: 2em;
    background-color: rgb(43, 131, 94);
    color: #fff;
  }

  .header-right {
    float: right;
    align-items: flex-end;
  }

  .topnav a {
    float: left;
    color: #f2f2f2;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 17px;
  }

  /* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}